* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #141414;
    color: white;
    text-align: center;
}

header {
    background-color: #1e3d75; /* Azul */
    padding: 20px;
}

header .logo h1 {
    font-size: 30px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 20px;
}

nav ul li {
    display: inline;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

.depositar-container {
    padding: 40px 20px;
    margin-top: 30px;
}

.depositar-container h2 {
    font-size: 32px;
    margin-bottom: 20px;
    color: #ff5555;
}

.deposito-info p {
    font-size: 18px;
    margin-bottom: 30px;
}

.deposito-interativo {
    margin-bottom: 40px;
}

input {
    padding: 10px;
    font-size: 18px;
    width: 250px;
    border: none;
    border-radius: 5px;
    margin-right: 10px;
    background-color: #333;
    color: white;
}

button {
    padding: 15px 30px;
    font-size: 18px;
    background-color: #1e3d75; /* Azul */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
}

button:hover {
    background-color: #173a63; /* Azul mais escuro */
    transform: scale(1.05);
    box-shadow: 0px 0px 15px rgba(0, 86, 179, 0.7);
}

#confirmar-deposito-btn {
    padding: 15px 30px;
    font-size: 18px;
    background-color: #ff5555;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
}

#confirmar-deposito-btn:hover {
    background-color: #e53e3e; /* Vermelho mais intenso */
    transform: scale(1.05);
    box-shadow: 0px 0px 15px rgba(255, 0, 0, 0.7);
}

footer {
    background-color: #1e3d75;
    color: white;
    padding: 10px;
    margin-top: 40px;
}

footer p {
    font-size: 14px;
}

/* Responsividade */
@media (max-width: 768px) {
    .depositar-container h2 {
        font-size: 28px;
    }

    .deposito-interativo input {
        width: 70%;
    }

    button, #confirmar-deposito-btn {
        width: 70%;
    }
}
